/* RESPONSIVE TABLET*/



@media (min-width: 320px) and (max-width: 413px) {


    /* Cabecera*/
   
.nav_cabecera{
    padding: 30px 45px 0px 25px;
    align-items: flex-start;
    width: 100%;
}
    
.logotipo{
    width: 60%;
}

.menu{
    width: 0%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 15px;width: 75%;
    padding-right: 0px;
    height: 70px;
    margin-bottom: 14px;
    margin-right: 0px;
 
}

.button-menu{
    font-size: 10px;
}

.button-menu-contact{
    font-size: 10px;
    padding: 8px 10px;
    border: none;
    border-bottom: #F5E56C solid; 
    border-radius: 0%;
    padding-bottom: 1px;
    padding-right: 0%;
    padding-left:2%
}

.YO{
    font-size: 14px;
    width: 30%;
}


/*BloquePresentación + Redes sociales*/


.bloque-presentacion{
width: 100%;
padding-left: 20px;
padding-top: 140px;
}

.line-h1 {
    width: 142px;
    height: 4px;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 14px;
    margin-bottom: 30px;
}

.intro{
    line-height: 22px;
    width: 79%;
    margin-bottom: 20px;
    font-size: 13px;


}

.contact-button{
    width: 45%;
    padding: 16px;
    border-radius:3px;
    border:4px solid #F5E56C;
    font-size: 13px;
}

.navegación-redes{
    margin-top: 285px;
    padding-right: 16px;
}




.line {
    height: 700px;
}
    
    /* Metodologia*/
    
       .metho-container {
           width: 100%;
           height: 200px;
           background: #2D2D2D;
           margin-right: 5px;
           display: flex;
           flex-direction: column;
           padding: 40px 0px 50px 30px;
       
        }    
    
        .container{
           width: 88%;  
           display: flex;
           flex-direction: row;
           justify-content: space-between;
        }
       
        h4{
           color: white;
           font-size: 15px;
           padding: 6px;
           width: 100%;
           letter-spacing: 0px;
        }
       
        .icon2{
           width:8%;
        }
    
        #Lean-h4{
           width: 88%;
           padding: 7px 0px 0px 0px;
           margin: 0%;
           font-size: 15px;
        }
    
        .texto-h4{
           color: white;
           line-height: 24px;
           padding-top: 24px;
           font-weight: 100;
           display: none;
           visibility: hidden
       }
    
       
    
       /* Portfolio*/
    
        .container-portfolio{
            width: 79%;
            padding:00px;
            margin: 80px 80px 0px 25px;
        } 
    
        .work-impasse{
            margin-bottom:80px;
        }

        #link-impasse{
            display: flex;
           flex-direction: column;
           justify-content: space-between;  
        }

        #text-impasse{
            margin-top:30px;
            width: 100%;
            align-items: flex-start;
          }

        #img-impasse{
            width: 100%; 
            border-radius: 4px; 
            
         }
         #titulo-type-impasse{
            width: 100%;
            margin-bottom:10px;
            margin-right:0px;
            text-align: start;

         }
         #boxtext-impasse{
            text-align: start;
            font-size: 12px;

         }

         #tag-type-impasse{
             margin-right: 0px;

         }

        #tools-type-impasse{
            margin-top:13px;
            margin-right: 0px;
            line-height: 18px;
            
        }

        #link-pml{
           display: flex;
           flex-direction: column;
           justify-content: space-between;  
        }
    
        #img-pml{
           width: 100%; 
           height: 25%;
           border-radius: 4px; 
           right: 50px;
        }
    
        #text-pml{
           width: 100%; 
           align-items: flex-start;
           padding-left: 0px;
 
        }
    
        #tag-type{
           color: #9A028A;
           font-size: 12px;
           margin-bottom:8px;
           padding-top: -10px;
           margin-top: 30px;
           
        }
           
        #titulo-type{
           width: 100%;
           font-size: 18px;
           margin-bottom:10px;
        }

       
       #tools-type{
           font-weight: 100;
           margin-top: 13px;
        }
    
        #boxtext-pml{
           padding: 18px 18px;
           right: 50px;
           bottom: -140px;
           width: 100%;
           font-size: 12px;
        } 


        .work-pml{
            margin-bottom:80px;
        }
    
        .work-blonet{
           margin-top:0px;
            margin-bottom:130px;
        }
    
        #img-blonet{
           width: 100%;
        }
    
        #link-blonet{
           flex-direction: column;
           width: 100%;
           margin:0px;
        }


    
        #tag-type-blonet{
           margin-top: 30px;
           text-align: start;
        }
    
        #text-blonet{
           align-items: flex-start;
           width: 100%;
        }
    
        #titulo-type-blonet{
          font-size: 18px;
          width: 100%;
          margin-bottom:10px;
          margin-right:0px;
          text-align: start;
        }
    
        #boxtext-blonet{
           text-align: left;
           width: 100%; 
           text-align: start;
           margin-left:0px;
           font-size: 12px;
        }
    
        #gif-blonet{
           width: 25%;
           border-radius: 15px;
           position: absolute;
           right: 20px;
           bottom: 270px;
        }

    
        #tools-type-blonet{
           margin-right: 0px;
           line-height: 18px;
        }

        .work-netflix{
            margin-bottom:50px;
        }

        #img-netflix{
            width: 100%;
            height: 40%;
            margin-bottom: 0px;
        }
    
       #text-netflix{
           width: 100%;
           margin-top: 0px;
        }

        #tag-type-netflix{
            margin-top: 30px;
        }
    
        #tools-type-netflix{
            margin-top: 13px;  
            line-height: 18px; 
        }
       
        #boxtext-netflix{
           right: 50px;
           bottom: -160px;
           width: 100%;
           font-size: 12px;
        }
    
        .button-vermas{
            margin-top: 0px;
            padding-top: 0px;
       }
          
    
    
       /*Behance*/
    
        .container-behance{
           padding: 100px 30px 0px;

        }
       
        #titulo-h4-behance{
           width: 100%;
           padding-left: 10px;
           letter-spacing: 1.3px;
        }
    
        .line3{
           background-color: #F5E56C;
           width: 290px;
           height: 12px;
           border-radius: 4px;  
           z-index: -1;
           bottom: 6px;
           right: 100px;
        }
    
        .container-behance2{
           padding: 30px 20px 60px 40px;
           display: flex;
           flex-direction: column;
           justify-content: space-between; 
           width: 70%;
        }
    
        .work-behance1{
           width: 80%;
           margin-bottom: 20px;
        }
    
        .work-behance2{
           width: 80%;
           margin-bottom: 20px;
        }
    
        .work-behance3{
           width: 80%; 
        }
    
       .button-behance{
           padding: 0px 70px 0px 0px; 
       }
    
    
       /*PonmeCara*/
    
       .about{
           width: 85%;
           padding: 100px 30px 20px;
           display: flex;
           flex-direction: column;
           justify-content: space-between; 
        }
               
        .text-about{
           width: 110%;
           display: flex;
           flex-direction: column;
           padding-left:5px;
           font-size: 13px;
        }

        .contact-button-down{
            width: 60%;
            margin-bottom: 40px;
        }
    
        .line4{
           background-color: #F5E56C;
           width: 300px;
           height: 12px;
           border-radius: 4px;   
           bottom: 5px;
           left:-10px;
           z-index:-1;
        }

        .itziar-image{
            object-position: 100% 26%;
            width: 270px;
            height: 170px;
            object-fit: cover;
          }
       
       #about-p{
         margin-bottom: 10px;
    
        }

        
       .logos{
        object-position: 1%;
        width: 0px;
        height: 4px;
        object-fit: cover;
        padding:0px
    }
    
        /*Footer*/
    
       .images{
         display: flex;
         flex-direction: column;
         width: 4%;
         padding: 00px;
         margin-bottom: 100px;
        }
           
       
       .container-footer{
         background: #2D2D2D;
         padding: 30px;
         width: 100%
        }
    
       .top-button{
          
       position: fixed;
       bottom: 10px;
       right:-42px;
       }
    
    }

@media (min-width: 414px) and (max-width: 480px) {


    /* Cabecera*/
   
.nav_cabecera{
    padding: 30px 45px 0px;
   
    align-items: flex-start;
    
    
}
    
.logotipo{
    width: 60%;
}

.menu{
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 15px;width: 75%;
    padding-right: 0px;
    height: 80px;
    margin-bottom: 14px;
    margin-right: 0px;
 
}

.button-menu{
    font-size: 10px;
    
}

.button-menu-contact{
    font-size: 10px;
    padding: 8px 10px;
    border: none;
    border-bottom: #F5E56C solid; 
    border-radius: 0%;
    padding-bottom: 1px;
    padding-right: 0%;
    padding-left:2%
}

.YO{
    font-size: 14px;
    width: 30%;
}


/*BloquePresentación + Redes sociales*/


.bloque-presentacion{
width: 95%;
padding-left: 20px;
padding-top: 150px;
}

.line-h1 {
    width: 342px;
    height: 4px;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 16px;
}

.intro{
    line-height: 22px;
    width: 75%;
}

.contact-button{
    width: 32%;
    padding: 16px;
    border-radius:3px;
    border:4px solid #F5E56C;
}

.navegación-redes{
    margin-top: 230px;
    padding-right: 20px;
}



.line {
    height: 700px;
}
    
    /* Metodologia*/
    
       .metho-container {
           width: 100%;
           height: 200px;
           background: #2D2D2D;
           margin-right: 5px;
           display: flex;
           flex-direction: column;
           padding: 40px 0px 50px 30px;
       
        }    
    
        .container{
           width: 88%;  
           display: flex;
           flex-direction: row;
           justify-content: space-between;
        }
       
        h4{
           color: white;
           font-size: 16px;
           padding: 6px;
           width: 100%
        }
       
        .icon2{
           width:5%;
        }
    
        #Lean-h4{
           width: 88%;
           padding: 7px 0px 0px 0px;
           margin: 0%;
           font-size: 16px;
        }
    
        .texto-h4{
           color: white;
           line-height: 24px;
           padding-top: 24px;
           font-weight: 100;
           display: none;
           visibility: hidden
       }
    
       
    
       /* Portfolio*/
    
        .container-portfolio{
            width: 79%;
            padding:00px;
            margin: 80px 80px 0px 43px;
        } 
    
        .work-impasse{
            margin-bottom:130px;
        }

        #link-impasse{
            display: flex;
           flex-direction: column;
           justify-content: space-between;  
        }

        #text-impasse{
            margin-top:30px;
            width: 100%;
            align-items: flex-start;
          }

        #img-impasse{
            width: 100%; 
            border-radius: 4px; 
            
         }
         #titulo-type-impasse{
            width: 100%;
            margin-bottom:10px;
            margin-right:0px;
            text-align: start;

         }
         #boxtext-impasse{
            text-align: start;

         }

         #tag-type-impasse{
             margin-right: 0px;

         }

        #tools-type-impasse{
            margin-top:13px;
            margin-right: 0px;
            
        }

        #link-pml{
           display: flex;
           flex-direction: column;
           justify-content: space-between;  
        }
    
        #img-pml{
           width: 100%; 
           height: 40%;
           border-radius: 4px; 
           right: 50px;
        }
    
        #text-pml{
           width: 90%; 
           padding-left: 10px;
           align-items: flex-start;
           padding-left: 0px;
 
        }
    
        #tag-type{
           color: #9A028A;
           font-size: 12px;
           margin-bottom:8px;
           padding-top: -10px;
           margin-top: 30px;
           
        }
           
        #titulo-type{
           width: 100%;
           font-size: 18px;
           margin-bottom:10px;
        }

       
       #tools-type{
           font-weight: 100;
           margin-top: 13px;
        }
    
        #boxtext-pml{
           padding: 18px 18px;
           right: 50px;
           bottom: -140px;
           width: 100%;
        } 


        .work-pml{
            margin-bottom:130px;
        }
    
        .work-blonet{
           margin-top:0px;
            margin-bottom:130px;
        }
    
        #img-blonet{
           width: 100%;
        }
    
        #link-blonet{
           flex-direction: column;
           width: 100%;
           margin:0px;
        }


    
        #tag-type-blonet{
           margin-top: 30px;
           text-align: start;
        }
    
        #text-blonet{
           align-items: flex-start;
           width: 100%;
        }
    
        #titulo-type-blonet{
          font-size: 18px;
          width: 100%;
          margin-bottom:10px;
          margin-right:0px;
          text-align: start;
        }
    
        #boxtext-blonet{
           text-align: left;
           width: 100%; 
           text-align: start;
           margin-left:0px;
        }
    
        #gif-blonet{
           width: 25%;
           border-radius: 15px;
           position: absolute;
           right: 20px;
           bottom: 220px;
        }

    
        #tools-type-blonet{
           margin-right: 0px;
        }

        .work-netflix{
            margin-bottom:100px;
        }

        #img-netflix{
            width: 100%;
            height: 60%;
            margin-bottom: 0px;
        }
    
       #text-netflix{
           width: 100%;
           margin-top: 0px;
        }

        #tag-type-netflix{
            margin-top: 30px;
        }
    
        #tools-type-netflix{
            margin-top: 13px;   
        }
       
        #boxtext-netflix{
           right: 50px;
           bottom: -160px;
           width: 100%;
        }
    
        .button-vermas{
            margin-top: 0px;
            padding-top: 0px;
       }
          
    
    
       /*Behance*/
    
        .container-behance{
           padding: 100px 30px 0px;

        }
       
        #titulo-h4-behance{
           width: 100%;
           padding-left: 10px;
           letter-spacing: 1.3px;
        }
    
        .line3{
           background-color: #F5E56C;
           width: 290px;
           height: 12px;
           border-radius: 4px;  
           z-index: -1;
           bottom: 6px;
           right: 100px;
        }
    
        .container-behance2{
           padding: 30px 20px 60px 40px;
           display: flex;
           flex-direction: column;
           justify-content: space-between; 
           width: 70%;
        }
    
        .work-behance1{
           width: 80%;
           margin-bottom: 20px;
        }
    
        .work-behance2{
           width: 80%;
           margin-bottom: 20px;
        }
    
        .work-behance3{
           width: 80%; 
        }
    
       .button-behance{
           padding: 0px 70px 0px 0px; 
       }
    
    
       /*PonmeCara*/
    
       .about{
           width: 85%;
           padding: 100px 30px 20px;
           display: flex;
           flex-direction: column;
           justify-content: space-between; 
        }
               
        .text-about{
           width: 110%;
           display: flex;
           flex-direction: column;
           padding-left:5px;
        }

        .contact-button-down{
            width: 40%;
            margin-bottom: 40px;
        }
    
        .line4{
           background-color: #F5E56C;
           width: 300px;
           height: 12px;
           border-radius: 4px;   
           bottom: 5px;
           left:-10px;
           z-index:-1;
        }

        .itziar-image{
            object-position: 100% 26%;
            width: 370px;
            height: 170px;
            object-fit: cover;
          }
       
       #about-p{
         margin-bottom: 10px;
    
        }

        
       .logos{
        object-position: 0%;
        width: 400px;
        height: 58px;
        object-fit: cover;
        padding-right: 30px;
    }
    
        /*Footer*/
    
       .images{
         display: flex;
         flex-direction: column;
         width: 80vw;
         padding: 00px;
         margin-bottom: 100px;
        }
           
       
       .container-footer{
         background: #2D2D2D;
         padding: 30px;
         width: 100%
        }
    
       .top-button{
          
       position: fixed;
       bottom: 10px;
       right:-38px;
       }
    
    }

@media (min-width: 481px) and (max-width: 550px) {

     /* Cabecera*/
   
     .logotipo{
        width: 30%;
    }

    .menu{
        width: 70%;
    }

    .YO{
        width: 20%;
    }

 /*BloquePresentación + Redes sociales*/

    .line-h1 {
        width: 370px;
        height: 4px;
    }

    h1{
        font-size: 32px;
    }

    h2{
        font-size: 16px;
    }

    .intro{
        line-height: 22px;
        width: 75%;
    }

    .contact-button{
        width: 32%;
        padding: 16px;
        border-radius:3px;
        border:4px solid #F5E56C;
    }

    .line {
        height: 700px;
    }


/*BloqueMetodologia*/
   
.metho-container {
    padding: 65px 85px;
   }


   h4{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    }

   .icon2{
    width: 20%;
   }

   #ocultar{display: none;}
   
/*BloquePortfolio*/
   
.container-portfolio{
    width: 79%;
    padding:20px;
    margin: 80px 60px 0px 40px;
  }

  #link-impasse{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
   }

   #link-pml{
    display: flex;
    flex-direction: column;   
   }

  #link-blonet{
    flex-direction: column;
    width: 100%;
    }

#img-impasse{
    width: 100%;
}

#text-impasse{
  margin-top:30px;
  width: 100%;
}

#titulo-type-impasse{
   width: 100%;
   margin-bottom:20px;
}

#tools-type-impasse{
   margin-top:15px;
}

#img-pml{
    width: 100%;
    height: 40%;
}

#text-pml{
   margin-top:30px;
   width: 100%;
}

#titulo-type{
   margin-bottom:20px;
   width: 100%;
}

#boxtext-pml{
   width: 100%;
}

#tools-type{
   margin-top:15px;
}

#img-blonet{
width: 100%;
}

#text-blonet{
width: 100%;
margin-top:40px;
}

#titulo-type-blonet{
width: 100%;
margin-bottom:20px;
}

#tools-type-blonet{
   margin-top:15px;
}

#gif-blonet{
       width:25%;
       border-radius: 20px;
       right: 280px;
       bottom: 240px;
}

#text-netflix{
    width: 100%;
    margin-top:0px;
}

#img-netflix{
 width: 100%;
 height: 45%;
}

#tag-type-netflix{
 margin-top: 20px;

}
#boxtext-netflix{
width: 100%;
}

#tools-type-netflix{
margin-top:15px;
}

.button-vermas{
padding-top: 15px;
    
}


/*BloqueBehance*/


.container-behance{
 padding: 120px 60px 0px;
}


.container-behance2{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding:20px 110px;
 }


 #titulo-h4-behance{
    color: #2D2D2D;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 20px;
   
}


 .work-behance1{
    width: 100%;
    margin-bottom: 20px;
    
 }
 .work-behance2{
    width: 100%;
    margin-bottom: 20px;
    
 }

 .work-behance3{
    width: 100%;
    margin-bottom: 20px;
    
 }

  .button-behance{
   padding: 0px 80px 80px;
  }
      
  .button-vermas{
      padding-top: 20px;
      margin-right: 95px;
    }

/*PonmeCara*/

  .about{
    width: 80%;
    padding: 50px 50px 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 55px; 
    
 }
        
 .text-about{
    width: 110%;
    display: flex;
    flex-direction: column;
    padding-left:5px;
 }

 .line4{
    background-color: #F5E56C;
    width: 300px;
    height: 12px;
    border-radius: 4px;   
    bottom: 5px;
    left:-10px;
    z-index:-1;
 }


 .text-about{
width: 90%;
 }


 #about-p{
  margin-bottom: 10px;

 }

  .contact-button-down{
      width: 53%;
      margin-top: 30px;
      margin-bottom: 70px;

  }

  .itziar-image{
    object-position: 100% 26%;
    width: 350px;
    height: 150px;
    object-fit: cover;
  }

  .logos{
      object-position: 0% 32%;
      width: 348px;
      height: 56px;
      object-fit: cover;
  }

  /*Footer*/

  .container-footer{
      padding-left:90px

  }


   
}

@media (min-width: 550px) and (max-width: 767px) {

    /* Cabecera*/
  
    .logotipo{
       width: 55%;
   }

   .menu{
       width: 65%;
   }

   .YO{
       width: 20%;
   }

/*BloquePresentación + Redes sociales*/

   .line-h1 {
       width: 520px;
   }

   h1{
       font-size: 38px;
   }

   h2{
        font-size: 19px;

   }
   .intro{
       line-height: 30px;
       width: 60%;
   }

   .contact-button{
       width: 23%;
       padding: 16px;
       border-radius:3px;
       border:4px solid #F5E56C;
   }

   .line {
       height: 700px;
   }

/*BloqueMetodologia*/
   
.metho-container {
    padding: 65px 120px;
   }

   .icon2{
    width: 20%;
   }

   #ocultar{display: none;}
   



 /*BloquePortfolio*/
   
    .container-portfolio{
        width: 79%;
        padding:20px;
        margin: 80px 90px 0px 70px;
      }
   
      #link-impasse{
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
       }
   
       #link-pml{
        display: flex;
        flex-direction: column;   
       }
   
      #link-blonet{
        flex-direction: column;
        width: 100%;
        }
   
   #img-impasse{
        width: 100%;
    }
   
    #text-impasse{
      margin-top:30px;
      width: 100%;
    }
   
    #titulo-type-impasse{
       width: 100%;
       margin-bottom:20px;
    }
   
    #tools-type-impasse{
       margin-top:15px;
    }
   
    #img-pml{
        width: 100%;
        height: 55%;
    }
    
    #text-pml{
       margin-top:30px;
       width: 100%;
    }
   
    #titulo-type{
       margin-bottom:20px;
       width: 100%;
    }
   
    #boxtext-pml{
       width: 100%;
    }
   
    #tools-type{
       margin-top:15px;
    }
   
    #img-blonet{
    width: 100%;
    }
   
    #text-blonet{
    width: 100%;
    margin-top:40px;
    }
   
    #titulo-type-blonet{
    width: 100%;
    margin-bottom:20px;
    }
   
    #tools-type-blonet{
       margin-top:15px;
    }
   
    #gif-blonet{
           width:25%;
           border-radius: 30px;
           right: 380px;
           bottom: 190px;
    }

    #text-netflix{
        width: 100%;
        margin-top:0px;
 }

 #img-netflix{
     width: 100%;
     height: 65%;
 }

 #tag-type-netflix{
     margin-top: 50px;

 }
 #boxtext-netflix{
    width: 100%;
 }

  #tools-type-netflix{
    margin-top:15px;
 }

  .button-vermas{
    padding-top: 15px;
        
 }


    /*BloqueBehance*/
   
    .container-behance2{
        padding: 30px 70px 50px;
  
      }
  
      .container-behance{
          padding: 150px 100px 0px;
          
      }
  
      .button-behance{
       padding: 0px 90px 80px;
      }
          
      .button-vermas{
          padding-top: 20px;
          margin-right: 95px;
        }
  
   /*PonmeCara*/
  
      .about{
        width: 80%;
        padding: 50px 50px 100px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 55px; 
        
     }
            
     .text-about{
        width: 110%;
        display: flex;
        flex-direction: column;
        padding-left:5px;
     }
 
     .line4{
        background-color: #F5E56C;
        width: 300px;
        height: 12px;
        border-radius: 4px;   
        bottom: 5px;
        left:-10px;
        z-index:-1;
     }
    
     #about-p{
      margin-bottom: 10px;
 
     }
  
      .contact-button-down{
          width: 30%;
          margin-top: 30px;
          margin-bottom: 70px;
  
      }

      .itziar-image{
        object-position: 100% 26%;
        width: 400px;
        height: 200px;
        object-fit: cover;
      }

      .logos{
          object-position: 95% 32%;
          width: 400px;
          height: 60px;
          object-fit: cover;
      }

      /*Footer*/

      .container-footer{
          padding-left:90px

      }

  
       }

@media (min-width: 768px) and (max-width: 1024px) {

    /* Cabecera*/
   
       .logotipo{
           width: 55%;
       }
   
       .menu{
           width: 45%;
       }
   
       .YO{
           width: 20%;
       }
   
    /*BloquePresentación + Redes sociales*/
   
       .line-h1 {
           width: 570px;
       }
   
       .intro{
           line-height: 30px;
           width: 60%;
       }
   
       .contact-button{
           width: 20%;
           padding: 16px;
           border-radius:3px;
           border:4px solid #F5E56C;
       }
   
       .line {
           height: 700px;
       }
   
    /*BloqueMetodologia*/
   
     .metho-container {
       padding: 65px 130px;
      }
   
      .icon2{
       width: 20%;
      }
   
      #ocultar{display: none;}
      
   
    /*BloquePortfolio*/
   
     .container-portfolio{
        width: 80%;
        padding:20px;
        margin: 80px 80px 0px 80px;
      }
   
      #link-impasse{
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
       }
   
       #link-pml{
        display: flex;
        flex-direction: column;   
       }
   
      #link-blonet{
        flex-direction: column;
        width: 100%;
        }
   
   #img-impasse{
        width: 100%;
    }
   
    #text-impasse{
      margin-top:30px;
      width: 100%;
    }
   
    #titulo-type-impasse{
       width: 60%;
       margin-bottom:20px;
    }
   
    #tools-type-impasse{
       margin-top:15px;
    }
   
    #img-pml{
        width: 100%;
        height: 55%;
    }
    
    #text-pml{
       margin-top:30px;
       width: 100%;
    }
   
    #titulo-type{
       margin-bottom:20px;
       width: 100%;
    }
   
    #boxtext-pml{
       width: 100%;
    }
   
    #tools-type{
       margin-top:15px;
    }
   
    #img-blonet{
    width: 100%;
    }
   
    #text-blonet{
    width: 100%;
    margin-top:40px;
    }
   
    #titulo-type-blonet{
    width: 100%;
    margin-bottom:20px;
    }
   
    #tools-type-blonet{
       margin-top:15px;
    }
   
    #gif-blonet{
           width:25%;
           border-radius: 30px;
           right: 480px;
           bottom: 160px;
    }
   
    #text-netflix{
           width: 100%;
           margin-top:0px;
    }

    #img-netflix{
        width: 100%;
        height: 65%;
    }
   
    #tag-type{
        margin-top: 40px;

    }
    #boxtext-netflix{
       width: 100%;
    }
   
     #tools-type-netflix{
       margin-top:15px;
    }
   
     .button-vermas{
       padding-top: 15px;
           
    }
   
    /*BloqueBehance*/
   
       .container-behance2{
         padding: 30px 70px 50px;
   
       }
   
       .container-behance{
           padding: 150px 100px 0px;
           
       }
   
       .button-behance{
        padding: 0px 90px 150px;
       }
           
       .button-vermas{
           padding-top: 20px;
           margin-right: 95px;
         }
   
    /*PonmeCara*/
   
       .about{
         padding: 0px 90px 150px;
       }
   
       .contact-button-down{
           width: 56%;
   
       }
           
           
       }
   
@media (min-width: 1024px) and (max-width: 1279px) {
   
   
    /*BloquePresentación + Redes sociales*/
      
     .contact-button{
           width: 12%;
       }
   
       .line {
           height: 800px;
       }
   
   /*BloqueMetodologia*/
   
   
    .metho-container {
       padding: 65px 175px;
      }
   
      .icon2{
       width: 20%;
      }
   
   /*BloquePortfolio*/
   
     .container-portfolio{
       width: 70%;
       padding:20px;
       margin: 80px 80px 0px 150px;
     }
   
     #link-impasse{
       display: flex;
       flex-direction: column;
       justify-content: space-between;  
       
      }
   
      #link-pml{
       display: flex;
       flex-direction: column;   
      }
   
     #link-blonet{
       flex-direction: column;
       width: 100%;
       }
   
       #img-impasse{
           width: 100%;
       }
      
       #text-impasse{
         margin-top:30px;
         width: 100%;
       }
      
       #titulo-type-impasse{
          width: 100%;
          margin-bottom:20px;
       }
      
       #tools-type-impasse{
          margin-top:15px;
       }
      
       #img-pml{
           width: 100%;
           height: 60%;
       }
       
       #text-pml{
          margin-top:30px;
          width: 100%;
       }
      
       #titulo-type{
          margin-bottom:20px;
          width: 100%;
       }
      
       #boxtext-pml{
          width: 100%;
       }
      
       #tools-type{
          margin-top:15px;
       }
      
       #img-blonet{
       width: 100%;
       }
      
       #text-blonet{
       width: 100%;
       margin-top:40px;
       }
      
       #titulo-type-blonet{
       width: 100%;
       margin-bottom:20px;
       }
      
       #tools-type-blonet{
          margin-top:15px;
       }
      
       #gif-blonet{
            width:25%;
            border-radius: 30px;
            right: 480px;
            bottom: 160px;
       }
      
       #text-netflix{
              width: 100%;
              margin-top:0px;
       }

       #img-netflix{
           width: 100%;
           height: 75%;
           margin-bottom:30px;
       }
      
       #boxtext-netflix{
          width: 100%;
       }
      
        #tools-type-netflix{
          margin-top:15px;
       }
      
        .button-vermas{
          padding-top: 15px;
              
       }
   
   
   
   
   
       }

@media (min-width: 1280px) and (max-width: 1430px) {
   
   
   .contact-button{
      width: 12%;

   }


   #gif-blonet{
      width:15%;
      border-radius: 30px;
      right: 450px;
      bottom: -150px;

    }

   #img-pml{
      width: 45%;
      height: 90%;
  }

  .contact-button-down{
   width: 40%
   }

   .line{
      height: 898px;
   }
  
   
       }
       
@media only screen and (min-width:2000px){

    .bloque-presentacion.aos-init.aos-animate{
       padding: 350px 5px 50px;
    }
    
    .menu{
       width: 20%;
    }
    
    .menu li {
       font-size: 18px;
    
    }
    
    .bloque-presentacion{
       width: 50%;
       margin:0 auto;
    }
    
    h1{
       font-size: 107px
    }
    
    .tag{
       font-size: 20px;
    }
    
    h2{
     font-size: 70px;
    }
    
    .line-h1{
       width: 1000px;
       height: 15px;
       bottom: 10px;
       border-radius: 15px;
    }
    
    .intro{
       font-size: 20px;
       width: 50%;
       line-height: 30px;
    }
    
    .contact-button{
       width: 13%;
       margin-bottom: 420px
    }
    
    .texto-p{
       font-size: 24px;
    
    }
    
    .navegación-redes{
       right: 10%;
       top: 350px;
    }
    
    .line{
       height: 898px;
    }
    
    .icon{
       width: 53%;
    }
    
    .bottom-circle{
       width: 42px;
       height: 42px;
    }
    
    .redes{
       height: 220px;
    }
    
    
    /* Metodología*/
    
    .metho-container {
       padding: 30px 460px;
       
    }
    
    .container{
       padding: 30px 40px;
       width: 100%
    }
    
    .icon2{
       width: 7%;
       margin: 1%,0%;
       padding-bottom: 10px;
    }
    
    .texto-h4{
       font-size: 18px;
    }
    
    h4{
       font-size: 27px;
    }
    
    
    
    /*Portfolio*/
    
    .container-portfolio{
       padding: 200px 500px;
    }
    
    #boxtext-pml{
       right: 1100px;
       bottom: 240px;
       width: 30%;
    }
    
    #tools-type{
       margin-top: 25%
    }
    
    #boxtext-blonet{
    width: 70%
    
    
    
    }
    
    #titulo-type-blonet{
       width: 70%;
    }
    
    #tools-type-blonet{
       margin-top: 3%;
       margin-right: 15px;
    
    }
    
    #img-blonet{
       width: 60%
    }
    
    #boxtext-netflix{
       right: 1105px;
       bottom: 520px;
       width: 30%
    } 
    
    #tools-type-netflix{
       margin-top:29%;
    }
    
    
    
    /*Behance*/
    
    .container-behance{
       padding: 0px 500px;
       margin-top: 200px;
    }
    
    .container-behance2{
       padding: 80px 500px 200px;
    }
    
    
    .button-behance{
       padding: 0px 400px 150px;
    }
    
    
    .about{
       padding: 200px 500px;
    }
    
    #about-p{
       font-size: 20px;
       width: 50%;
       line-height: 30px;
    }
    
    
    .contact-button-down{
    width: 23%
    }
    
 }
