/*GENERAL*/

html{
    font-size: 14px;
    color: #2D2D2D;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family:'Montserrat', sans-serif;;
    overflow: auto;
}


/* Cabecera Logo+menu*/

.nav_cabecera{
    width: 100%;
    display:flex;  
    align-items: center;
    position: fixed;
    background-color:#ffffff;
    transition: top 0.8s;
    z-index: 2;
    padding:30px 50px;
}

.logotipo{
   width: 70%;
}

.YO{
   font-size: 20px;
   font-weight: 800;
}

.menu{
   width: 30%;
   display: flex;
   justify-content: space-between;
}

.button-menu{
   font-size: 12px;
   font-weight: 400;
}

.button-menu-contact{
   font-size: 12px;
   font-weight: 400;
   margin-bottom: 100px;
   padding: 8px;
   border-radius:4px;
   border:2px solid #F5E56C;
}


/*BloquePresentación + Redes sociales*/

.main{
    width: 75%;
    margin-top: 35px
}

.main-container{
    display: flex;
    flex-direction: row-reverse;
}
    
.bloque-presentacion{
   width: 83%;
   padding-top: 170px;
   padding-bottom: 170px;
}


.titulo-h1{
   display: flex;
   flex-direction:column;
   position: relative;
   padding-bottom: 10px;
}


h1{
   font-size: 48px;
   font-weight: 500;
     
}


.line-h1 {
    background-color: rgba(245, 229, 107, 0.733);
    width: 600px;
    height: 6px;
    border-radius: 2px;  
    position: absolute;
    bottom:-2px;
    left: -2%;
    z-index: -1;
    margin-bottom :16px;
}


h2{
   font-size: 24px;
   font-weight: 500px;
   margin-bottom:38px;
}

.intro{
    margin-bottom :55px;
    line-height: 24px;
    width: 55%;
    color: rgb(117, 117, 117);
}

a {
    color: inherit;
    text-decoration: none;
    cursor:pointer 
}

.contact-button{
    width: 15%;
    padding: 16px;
    border-radius:3px;
    border:4px solid #F5E56C;
}

.texto-p{
    font-weight: 500;
}

.contact-button:hover {
    background-color: #F5E56C;
    color:black;
    font: weight 4;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);
}

.navegación-redes {
    margin-top: 230px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index:2;
}

.redes{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.buttom-circle{
    width: 32px;
    height: 32px;
    background-color:white;
    border-radius: 50%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);
    display: flex;
    align-content: center;
    justify-content: center;
}

.buttom-circle:hover{
   border: 4px  solid #F5E56C;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
  
.icon{
    width: 52%;
}


.line {
    border: 1px solid rgba(234, 233, 233, 0.322);
    width: 1px;
    height: 298px;
}
  


/*BloqueMetodologia*/

.metho-container {
    background: #2D2D2D;
    padding: 65px 220px;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 28%;   
}

h4{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}


.texto-h4{
    color: white;
    line-height: 24px;
    padding-top: 24px;
    font-weight: 100;
    display: show;

}


.icon2{
    width: 10%;
    margin: 1%,0%;
    padding-bottom: 10px;
}

#Lean-h4{
    width: 50%
}


/*BloquePortfolio*/

.container-portfolio{
    padding: 150px 220px 0px;
}


.work-impasse{
   width: 100%;
   display:flex;
   position: relative;
   margin-bottom: 20%;
}

#link-impasse{
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
}

#img-impasse{
 width: 50%;
}

#text-impasse{
   width: 45%;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   
}

#titulo-type-impasse{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom:24px;
    line-height: 28px;
    text-align: end;
    margin-right: 20px;
}

#tag-type-impasse{
   color: #9A028A;
   font-size: 12px;
   margin-bottom:8px;
   margin-right: 20px;
}

#tools-type-impasse{
   font-size: 12px;
   margin-top: 8%;
   margin-right: 20px;
   color:rgb(168, 167, 167)

}

#boxtext-impasse{
   color: white;
   font-weight: 500;
   line-height: 21px;
   font-weight: 100;
   text-align: end;
   padding: 18px 18px;
   border-radius: 4px;
   box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
   background-color: #2D2D2D;
}


.work-pml{
    width: 100%;
    display:flex;
    margin-bottom: 20%;
 }

#link-pml{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
      
 }
 
 #img-pml{
   width: 60%;
   height: 90%;
   border-radius: 4px; 
 }

#text-pml{
   width: 45%;
   display: flex;
   flex-direction: column;
 }

#boxtext-pml{
    color: white;
    font-weight: 500;
    line-height: 21px;
    font-weight: 100;
    padding: 18px 18px;
    border-radius: 4px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    background-color: #2D2D2D;
    width: 90%

 } 

#tag-type{
    color: #9A028A;
    font-size: 12px;
    margin-bottom:8px;
    
 }

#titulo-type{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom:24px;
    line-height: 28px;
    width: 90%;
 }

#tools-type{
    font-weight: 100;
    font-size: 14px;
    margin-top: 8%;
    font-size: 12px;
    color:rgb(168, 167, 167)
}


.work-blonet{
    width: 100%;
    display:flex;
    position: relative;
    margin-bottom: 30%;
 }

 #link-blonet{
    display: flex;
    justify-content: space-between
}

 #img-blonet{
    width: 50%;
    border-radius: 4px; 
 }

 #text-blonet{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 }

 #tag-type-blonet{
    color: #9A028A;
    font-size: 12px;
    margin-bottom:8px;
    margin-right: 30px;
 }

 #titulo-type-blonet{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom:16px;
    line-height: 28px; 
    width: 80%;
    text-align: end;
    margin-right: 20px;
 }

 #boxtext-blonet{
    color: white;
    font-weight: 500;
    line-height: 21px;
    font-weight: 100;
    text-align: end;
    padding: 18px 18px;
    border-radius: 6px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    background-color: #2D2D2D;
    } 

 #tools-type-blonet{
    font-weight: 100;
    font-size: 12px;
    margin-top: 8%;
    margin-right: 20px;
    color:rgb(168, 167, 167)
}

 #gif-blonet{
     width: 18%;
     border-radius: 30px;
     position: absolute;
     right: 400px;
     bottom: -120px;
}

.work-netflix{
    width: 100%;
    display:flex;
 }

 #text-netflix{
    width: 35%;
    margin-top: 5%;
 }

 #boxtext-netflix{
   
    color: white;
    font-weight: 500;
    line-height: 21px;
    font-weight: 100;
    padding: 18px 18px;
    border-radius: 4px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    background-color: #2D2D2D;
    width: 90%;
    z-index: 1;
    right: 450px;
    bottom: 170px;
} 

#img-netflix{
   width: 60%;
   height: 90%;
   border-radius: 4px; 
}

 #tools-type-netflix{
    font-weight: 100;
    font-size: 12px;
    margin-top:8%;
    color:rgb(168, 167, 167)
 }

 #tag-type-netflix{
   color: #9A028A;
    font-size: 12px;
    margin-bottom:8px;

}

.button-vermas{
   padding-top: 45px;
   width: 65%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   transition: 0.4s;
 }

 .line-vermas{
    background-color: #F5E56C;
    width: 80px;
    height: 2px;
    border-radius: 2px;  
    margin-top: 3px;
 }

.text-vermas{
    transition: 0.3s;
    font-weight: 500;
 }

.text-vermas:hover{
    cursor: pointer;
    font-weight: 700 ;
}
 


/*BloqueBehance*/

.container-behance{
    padding: 150px 220px 0px;
    display: flex;
    flex-direction: column;
}

#titulo-h4-behance{
    color: #2D2D2D;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
   
}

.container-behance2{
    padding: 65px 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.work-behance1{
    width: 25%; 
    height: 20%;
    border:1px solid rgba(197, 197, 197, 0.185);
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(134, 134, 134, 0.048);
    transition: 0.4s;   
 }

 .work-behance1:hover{
    width: 28%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);

}

.work-behance2{
    width: 25%; 
    height: 20%;
    border:1px solid rgba(197, 197, 197, 0.185);
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(134, 134, 134, 0.048);
    transition: 0.4s;   
}

 .work-behance2:hover{
    width: 28%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);

}

.work-behance3{
    width: 25%; 
    border:1px solid rgba(197, 197, 197, 0.185);
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(134, 134, 134, 0.048);
    transition: 0.4s;   
}

.work-behance3:hover{
    width: 28%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);

}

.work-text{
    width: 100%;
    padding: 7%;
}

#photo1{
  width: 100%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;

}

#photo2{
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

#photo3{
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

#titulo-behance {
    margin-bottom :16px;
}

#tag-behance {
    font-size: 12px;
    margin-bottom :16px;
    color:rgb(168, 167, 167)
}

.button-behance{
    padding: 0px 220px 150px;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.4s;
  }
 
  .line-behance{
     background-color: #F5E56C;
     width: 80px;
     height: 2px;
     border-radius: 2px;  
     margin-top: 3px;
  }
 
 .text-behance{
     transition: 0.3s;
     text-align: end;
     font-weight: 500;
  }
  
  .text-behance:hover{
     cursor: pointer;
     font-weight: 700 ;
}


/*PonmeCara*/

.about{
    display: flex;
    justify-content: space-between;
    padding: 0px 220px 150px;

}

.text-about{
    width: 45%;
    display: flex;
    flex-direction: column;

}

#titulo-h4{
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 2px;
   color: #2D2D2D;
   padding-left: 1%;
}

.block-titulo{
    display: flex;
    flex-direction:column-reverse;
    position: relative;
}

#about-p{
 padding-left: 1%;
 margin-bottom:50px;
 line-height: 24px;
 color: rgb(117, 117, 117);
 margin-top: 24px;

}

.contact-button-down{
    margin-bottom: 100px;
    width: 38%;
    padding: 16px 24px;
    border-radius:4px;
    border:5px solid #F5E56C;
    display: inline-block;
}

.contact-button-down:hover {
    background-color: #F5E56C;
    color:black;
    font: weight 4;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);
}

.images{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.itziar-image{
    width: 100%;
    border-radius: 4px;
}

.logos{
    width: 100%;
    padding-top: 20px;
}


/* Footer*/

.container-footer{
   background: #2D2D2D;
    padding: 15px 220px;
}

.footer-text{
    color: white;
    font-size: 12px;
    bottom: 10%

}

.top-button {
    transition: all .25s ease-in-out;
    padding: 0px;
    position: fixed;
    bottom: 10px;
    right:-8px;
    cursor: pointer;
    z-index: 2;
   
}

 .top-button.show {
    visibility: visible;
    opacity: 1;
  }

  .top-button.hide {
    visibility: hidden;
    opacity: 0;
  }

  .top-button img {
    width: 40%;
  }

  .top-button img:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);
    border-radius: 50%;
}

}
     