/*GENERAL*/

html{
    font-size: 16px;
    color: #2D2D2D;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    overflow: auto;
}


/* Cabecera Logo+menu*/


.nav_cabecera{
    width: 100%;
    display:flex;  
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.842);
    transition: top 0.8s;
    z-index: 2;
}

.logotipoBox{
    width: 50%;
    margin-left: 20px;   
}

.logotipo{
    width: 20%;
    display: inline-block;
}

.menu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 62px
    
}

.menu li a{
    display: block;
    
}



/*BloquePresentación + Redes sociales*/

.main{
    width: 75%;
    margin-top: 35px
}

.main-container{
    display: flex;
    flex-direction: row-reverse;
}
    
.bloque-presentacion{
   width: 83%;
   padding-top: 130px;
   padding-bottom: 30px;

}

.tag{
    font-size: 14px;
    margin-bottom :16px;
    
}

h1{
    font-size: 72px;
    font-weight: 700;
    
}

.line-h1 {
    background-color: #F5E56C;
    width: 650px;
    height: 13px;
    border-radius: 4px;  
    position: absolute;
    bottom: 5px;
    z-index: -1;
    left: -1%;

}

.titulo-h1{
    display: flex;
    flex-direction:column;
    position: relative;
}

h2{
    font-size: 48px;
    font-weight: 600px;
    margin-bottom:38px;
}

.intro{
    margin-bottom :55px;
    line-height: 24px;
    width: 40%;
    color: rgb(117, 117, 117);
}

a {
    color: inherit;
    text-decoration: none;
    cursor:pointer 
}

.contact-button{
    margin-bottom: 100px;
    width: 13%;
    padding: 16px 24px;
    border-radius:4px;
    border:5px solid #F5E56C;
    display: inline-block;
}

.texto-p{
    font-size: 18px;
    font-weight: 800;
}

.contact-button:hover {
    background-color: #F5E56C;
    color:black;
    font: weight 4;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);
}

.navegación-redes {
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 6%;
  
}

.redes{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.5
} 

.redes:hover{
    opacity:1;
}

.bottom-circle{
    width: 32px;
    height: 32px;
    background-color:white;
    border-radius: 50%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);
    display: flex;
    align-content: center;
    justify-content: center;
}
  
.icon{
    width: 53%;
}


.line {
    border: 1px solid rgba(234, 233, 233, 0.322);
    width: 1px;
    height: 298px;
}
  


/*BloqueMetodologia*/

.metho-container {
    background: #2D2D2D;
    padding: 65px 220px;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 30%;   
}

h4{
    color: white;
    font-size: 24px;
}

.texto-h4{
    color: white;
    line-height: 24px;
    padding-top: 24px;
    font-weight: 100;
    display: show;

}

.icon2{
    width: 10%;
    margin: 1%,0%;
    padding-bottom: 10px;
}

#Lean-h4{
    width: 50%
}


/*BloquePortfolio*/

.container-portfolio{
    padding: 150px 220px 0px;
}

.work-pml{
    width: 100%;
    display:flex;
    position: relative;
    margin-bottom: 20%;
 }

 #link-pml{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;  
 }

 #img-pml{
    width: 58%; 
    border-radius: 6px; 
 }

 #text-pml{
    width: 35%;
    
 }

 #boxtext-pml{
   
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    font-weight: 100;

    
    padding: 18px 18px;
    border-radius: 6px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    background-color: #2D2D2D;
    width: 50%;
    position: absolute;
    z-index: 1;
    right: 455px;
    bottom: 40px;

 } 

 #tag-type{
    color: #9A028A;
    font-size: 12px;
    margin-bottom:8px;
    
 }

 #titulo-type{
    font-size: 28px;
    margin-bottom:24px;
    line-height: 28px;
 }

 #tools-type{
    font-weight: 100;
    font-size: 14px;
    margin-top: 50%
}


.work-blonet{
    width: 100%;
    display:flex;
    position: relative;
    margin-bottom: 30%;
 }

 #link-blonet{
    display: flex;
    justify-content: space-between
}

 #img-blonet{
    width: 50%;
    border-radius: 6px; 
 }

 #text-blonet{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 }

 #tag-type-blonet{
    color: #9A028A;
    font-size: 12px;
    margin-bottom:8px;
    margin-right: 30px;
 }

 #titulo-type-blonet{
    font-size: 28px;
    margin-bottom:16px;
    line-height: 28px; 
    width: 80%;
    text-align: end;
    margin-right: 20px;
 }

 #boxtext-blonet{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    font-weight: 100;
    text-align: end;

    padding: 18px 18px;
    border-radius: 6px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    background-color: #2D2D2D;
    } 

 #tools-type-blonet{
    font-weight: 100;
    font-size: 14px;
    margin-top: 8%;
    margin-right: 20px;
}

 #gif-blonet{
     width: 18%;
     border-radius: 30px;
     position: absolute;
     right: 400px;
     bottom: -120px;
}

.work-netflix{
    width: 100%;
    display:flex;
    position: relative;
 }

 #text-netflix{
    width: 35%;
    margin-top: 5%;
 }

 #boxtext-netflix{
   
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    font-weight: 100;

    
    padding: 18px 18px;
    border-radius: 6px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    background-color: #2D2D2D;
    width: 50%;
    position: absolute;
    z-index: 1;
    right: 450px;
    bottom: 170px;
} 

 #tools-type-netflix{
    font-weight: 100;
    font-size: 14px;
    margin-top:58%;
 }

.button-vermas{
   padding-top: 45px;
   width: 65%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   transition: 0.4s;
 }

 .line-vermas{
    background-color: #F5E56C;
    width: 80px;
    height: 6px;
    border-radius: 2px;  
    margin-top: 3px;
 }

.text-vermas{
    height: 20px;
    font-size: 18px;
    transition: 0.3s;
 }

 .text-vermas:hover{
    font-size: 20px;
    cursor: pointer;
    text-shadow: #2D2D2D
}


/*BloqueBehance*/

.container-behance{
    padding: 150px 220px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.line3{
    background-color: #F5E56C;
    width: 520px;
    height: 9px;
    border-radius: 2px;  
    position: absolute;
    z-index: -1;
    bottom: 2px;
    left: -1;
}

#titulo-h4-behance{
    font-size: 32px;
    color: #2D2D2D;
    padding-left: 1%;
   
}

.container-behance2{
    padding: 65px 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-behance1{
    width: 30%; 
    border:1px solid rgba(197, 197, 197, 0.185);
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(134, 134, 134, 0.048);
    transition: 0.4s;   
 }

 .work-behance1:hover{
    width: 33%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);

}

.work-behance2{
    width: 30%; 
    border:1px solid rgba(197, 197, 197, 0.185);
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(134, 134, 134, 0.048);
    transition: 0.4s;   
 }

 .work-behance2:hover{
    width: 33%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);

}

.work-behance3{
    width: 30%; 
    border:1px solid rgba(197, 197, 197, 0.185);
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(134, 134, 134, 0.048);
    transition: 0.4s;   
 }

 .work-behance3:hover{
    width: 33%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);

}

.work-text{
    width: 100%;
    padding: 7%;
}

#photo1{
  width: 100%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;

}

#photo2{
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

#photo3{
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

#titulo-behance {
    margin-bottom :16px;
}

#tag-behance {
    font-size: 14px;
    margin-bottom :16px;
}

.button-behance{
    padding: 0px 220px 150px;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.4s;
  }
 
  .line-behance{
     background-color: #F5E56C;
     width: 120px;
     height: 6px;
     border-radius: 2px;  
     margin-top: 3px;
  }
 
 .text-behance{
     height: 20px;
     font-size: 18px;
     transition: 0.3s;
     text-align: end;
  }
  
  .text-behance:hover{
     font-size: 20px;
     cursor: pointer;
     text-shadow: #2D2D2D
}


/*PonmeCara*/

.about{
    
    display: flex;
    justify-content: space-between;
    padding: 0px 220px 150px;

}

.text-about{
    width: 45%;
    display: flex;
    flex-direction: column;

}

#titulo-h4{
     font-size: 32px;
     color: #2D2D2D;
     padding-left: 1%;
}

.line4{
    background-color: #F5E56C;
    width: 200px;
    height: 9px;
    border-radius: 2px;  
    position: absolute;
    z-index: -1;
    bottom: 2px;
    left: -1;
}

.block-titulo{
    display: flex;
    flex-direction:column-reverse;
    position: relative;
}

#about-p{
 font-size: 16px;
 padding-left: 1%;
 margin-bottom:50px;
 line-height: 24px;
 color: rgb(117, 117, 117);
 margin-top: 24px;

}

.contact-button-down{
    margin-bottom: 100px;
    width: 36%;
    padding: 16px 24px;
    border-radius:4px;
    border:5px solid #F5E56C;
    display: inline-block;
}

.contact-button-down:hover {
    background-color: #F5E56C;
    color:black;
    font: weight 4;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);
}

.images{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.itziar-image{
    width: 100%;
    border-radius: 6px;
}

.logos{
    width: 100%;
    padding-top: 20px;
}


/* Footer*/

.container-footer{
   background: #2D2D2D;
    padding: 15px 220px;
}

.footer-text{
    color: white;
    font-size: 12px;
    bottom: 10%

}

.top-button {
    transition: all .25s ease-in-out;
    padding: 0px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
   
}

 .top-button.show {
    visibility: visible;
    opacity: 1;
  }

  .top-button.hide {
    visibility: hidden;
    opacity: 0;
  }

  .top-button img {
    width: 40%;
  }

  .top-button img:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);
    border-radius: 50%;
}
     


@media only screen and (max-width: 418px){

    html, body{
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .bloque-presentacion{
        width: 88%;
        margin: 0 auto;
    }

    .bloque-presentacion.aos-init.aos-animate{
        padding: 150px 5px 50px;
    }

    header{
        padding: 5% 0% 0%;
    }

    /* Cabecera*/
   
    .nav_cabecera{
      padding-top: 15px;
    }

     .box{
        width: 50%;
     }
  
     .menu{
        width:80%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        font-size: 14px;
        padding-right: 10px;
     }
    
     .menu li {
        margin-left: 5px;
     }

     h1{
      font-size: 38px;
      font-weight: 700;
     }

     .line-h1{
        background-color: #F5E56C;
        width: 340px;
        height: 13px;
        border-radius: 4px;  
        position: absolute;
        bottom: 1px;
        z-index: -1;
        left: -2%;
     }
    
     .tag{
        font-size: 14px;
        margin-bottom: 16px; 
        margin-top: 0%; 
        
     }

     h2{
        font-size: 25px;
        font-weight: 600px;
        margin: 16px 0px;
     }
    
     .intro{
        margin-top: 36px;
        margin-bottom: 65px;
        line-height: 24px;
        width: 90%;
        color: rgb(117, 117, 117);
     }

     .contact-button{
        width: 40%;
        padding: 16px 24px;
        border-radius:4px;
        border: 5px solid #F5E56C;
     }

    .navegación-redes {
        margin-top: 560px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: 8%;
        top: -130px;
        z-index: 1;
      
     }

     .redes{
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 1
    }

    .bottom-circle{
        width: 32px;
        height: 32px;
        background-color:white;
        border-radius: 50%;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.562);
        display: flex;
        align-content: center;
        justify-content: center;
    }
      
     .logotipo{
        width: 50%;
        display: inline-block;
     }
    
  


    /* Metodologia*/

    .metho-container {
        width: 100%;
        height: 200px;
        background: #2D2D2D;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        padding: 40px 0px 50px 30px;
    
     }    

     .container{
        width: 88%;  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }
    
     h4{
        color: white;
        font-size: 19px;
        padding: 6px;
        width: 100%
     }
    
     .icon2{
        width: 10%;
     }

     #Lean-h4{
        width: 88%;
        padding: 7px 0px 0px 0px;
     }

     .texto-h4{
        color: white;
        line-height: 24px;
        padding-top: 24px;
        font-weight: 100;
        display: none;
        visibility: hidden
    }

    

    /* Portfolio*/

     .container-portfolio{
        width: 100%;
        padding: 0px;
        margin-top: 50px; 
     } 

     #link-pml{
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
     }

     #img-pml{
        width: 100%; 
        border-radius: 4px; 
        right: 50px;
     }

     #text-pml{
        width: 88%; 
        padding-left: 10px;
     }

     #tag-type{
        color: #9A028A;
        font-size: 12px;
        margin-bottom:8px;
        padding-top: -10px;
        margin-top: 30px;
        padding-left: 20px;
     }
        
     #titulo-type{
        font-size: 24px;
        margin-bottom:8px;
        padding-left: 20px;    
     }
    
    
    #tools-type{
        padding-left: 20px;
        font-weight: 100;
        font-size: 14px;
        margin-top: 0%;
     }

     #boxtext-pml{
        padding: 18px 18px;
        right: 50px;
        bottom: -140px;
        width: 80%;
     } 

     .work-blonet{
        margin-top: 270px;
     }

     #img-blonet{
        width: 100%;
     }

     #link-blonet{
        flex-direction: column;
        width: 100%;
     }

     #tag-type-blonet{
        margin-top: 30px;
        padding-left: 30px;
     }

     #text-blonet{
        align-items: flex-start;
        width: 70%;
     }

     #titulo-type-blonet{
        padding-left: 30px;
        text-align: start;
        padding-right: 0px;
        width: 85%;
        line-height: 35px;
     }

     #boxtext-blonet{
        margin: 18px 24px;
        text-align: left;
        width: 100%; 
     }

     #gif-blonet{
        width: 25%;
        border-radius: 15px;
        position: absolute;
        right: 40px;
        bottom: 300px;
     }

     #tools-type-blonet{
        margin-right: 0px;
        margin-left: 25px;
        margin-top: 0px;
     }

    #text-netflix{
        width: 100%;
        margin-top: 5%;
        padding-left: 15px;  
     }

     #tools-type-netflix{
         margin-top: 0px;
         padding-left: 18px;  
     }
    
     #boxtext-netflix{
        right: 50px;
        bottom: -160px;
        width: 80%;
     }

     .button-vermas{
         margin-top: 200px;
    }
       


    /*Behance*/

     .container-behance{
        padding: 100px 30px 0px;
     }
    
     #titulo-h4-behance{
        width: 90%;
        padding-left: 10px;
     }

     .line3{
        background-color: #F5E56C;
        width: 290px;
        height: 12px;
        border-radius: 4px;  
        position: absolute;
        z-index: -1;
        bottom: 6px;
        right: 100px;
     }

     .container-behance2{
        padding: 60px 20px 60px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
     }

     .work-behance1{
        width: 80%;
        margin-bottom: 20px;
     }

     .work-behance2{
        width: 80%;
        margin-bottom: 20px;
     }

     .work-behance3{
        width: 80%; 
     }

    .button-behance{
        padding: 0px 70px 0px 0px; 
    }


    /*PonmeCara*/

    .about{
        width: 85%;
        padding: 100px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
     }
            
     .text-about{
        width: 110%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left:5px;
     }

     .line4{
        background-color: #F5E56C;
        width: 300px;
        height: 12px;
        border-radius: 4px;   
        position: absolute;
        bottom: 5px;
        left:-10px;
        z-index:-1;
     }
    
    #about-p{
      margin-bottom: 10px;

     }

    .contact-button-down{
      margin-bottom: 101px;
      width: 50%;
      padding: 16px 24px;
      border-radius:4px;
      border:5px solid #F5E56C;
      display: inline-block;
      position: absolute;
      bottom: -500px;
     }

     /*Footer*/

    .images{
      display: flex;
      flex-direction: column;
      width: 80vw;
      padding: 30px;
      margin-bottom: 100px;
     }
        
    .itziar-image{
      object-position: 100% 26%;
      width: 280px;
      height: 180px;
      object-fit: cover;
     }

    .container-footer{
      background: #2D2D2D;
      padding: 30px;
      width: 100%
     }

    .top-button {
      transition: all .25s ease-in-out;
      padding: 0px;
      position: fixed;
      bottom: 10px;
      right: -24px;
      cursor: pointer;  
      z-index: 2;
     }

   }
    

   @media only screen and (min-width: 370px) and (max-width: 410px){
        
        .bloque-presentacion.aos-init.aos-animate{
            padding: 120px 5px 70px;
        }

        .contact-button{
            margin-bottom: 110px;
            margin-top: 20px;
            width: 45%;
            padding: 16px 24px;
            border-radius:4px;
            border:5px solid #F5E56C;
        }

        .nav_cabecera{
            padding-top: 20px;
            padding-bottom: 10px;
            padding-bottom: 0px;
            align-content: flex-start;

        }

        .tag{
            font-size: 14px;
            margin-bottom: 32px; 
            margin-top: 15px; 
         }

         h1{
            margin-bottom: 10px;
            font-size: 35px;
         }

         .line-h1{
            bottom:10px;
            width: 300px;
         }

         h2{
            font-size: 22px;
         }

         .menu{
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            margin-right: 15px;
         }

         .menu li{
            height: 25px;;
            display: flex;
            justify-content: space-between;
        
         }

         .box{
            width: 100%;
        
         }

         .navegación-redes {
            top: -70px;
         }

         /* Portfolio*/


         #text-blonet{
            align-items: flex-start;
            width: 80%;
         }

         #boxtext-netflix{
            right: 50px;
            bottom: -180px;
            width: 80%;
            
         }


         /*Behance*/
         
         .line3{
            right: 60px;
            border-radius: 6px; 
            height: 12px;
          }

         .line4{
            left: -10px;
            border-radius: 6px;
          }

          /* Footer*/

          .top-button {
            transition: all .25s ease-in-out;
            padding: 0px;
            position: fixed;
            bottom: 10px;
            right: -26px;
            cursor: pointer;  
            z-index: 2;
         }

      }
    

   

@media only screen and (min-width:2000px){

.bloque-presentacion.aos-init.aos-animate{
   padding: 350px 5px 50px;
}

.menu{
   width: 20%;
}

.menu li {
   font-size: 18px;

}

.bloque-presentacion{
   width: 50%;
   margin:0 auto;
}

h1{
   font-size: 107px
}

.tag{
   font-size: 20px;
}

h2{
 font-size: 70px;
}

.line-h1{
   width: 1000px;
   height: 15px;
   bottom: 10px;
   border-radius: 15px;
}

.intro{
   font-size: 20px;
   width: 50%;
   line-height: 30px;
}

.contact-button{
   width: 13%;
   margin-bottom: 420px
}

.texto-p{
   font-size: 24px;

}

.navegación-redes{
   right: 10%;
   top: 350px;
}

.line{
   height: 598px;
}

.icon{
   width: 53%;
}

.bottom-circle{
   width: 42px;
   height: 42px;
}

.redes{
   height: 220px;
}


/* Metodología*/

.metho-container {
   padding: 30px 460px;
   
}

.container{
   padding: 30px 40px;
   width: 100%
}

.icon2{
   width: 7%;
   margin: 1%,0%;
   padding-bottom: 10px;
}

.texto-h4{
   font-size: 18px;
}

h4{
   font-size: 27px;
}



/*Portfolio*/

.container-portfolio{
   padding: 200px 500px;
}

#boxtext-pml{
   right: 1100px;
   bottom: 240px;
   width: 30%;
}

#tools-type{
   margin-top: 25%
}

#boxtext-blonet{
width: 70%



}

#titulo-type-blonet{
   width: 70%;
}

#tools-type-blonet{
   margin-top: 3%;
   margin-right: 15px;

}

#img-blonet{
   width: 60%
}

#boxtext-netflix{
   right: 1105px;
   bottom: 520px;
   width: 30%
} 

#tools-type-netflix{
   margin-top:29%;
}



/*Behance*/

.container-behance{
   padding: 0px 500px;
   margin-top: 200px;
}

.container-behance2{
   padding: 80px 500px 200px;
}


.button-behance{
   padding: 0px 400px 150px;
}


.about{
   padding: 200px 500px;
}

#about-p{
   font-size: 20px;
   width: 50%;
   line-height: 30px;
}


.contact-button-down{
width: 23%
}

}

